<section class="quiz" *ngIf="subject && !showResult">
  <article class="quiz__container">
    <p>Question: {{ currentIndex + 1 }} of {{ questions.length }}</p>

    <h2>{{ questions[currentIndex]?.question }}</h2>

    <div class="progress__bar">
      <div
        class="progress-bar__fill"
        [style.width]="((currentIndex + 1) / questions.length) * 100 + '%'"
      ></div>
    </div>
  </article>

  <article class="answer__options">
    <button
      class="answer__option"
      *ngFor="
        let option of questions[currentIndex]?.options;
        let optionIndex = index
      "
      (click)="
        checkAnswer(option, questions[currentIndex]?.answer, optionIndex)
      "
      [ngClass]="{
        selected: selectedOptionIndex === optionIndex,
        correct: correctOptionIndex === optionIndex,
        wrong: wrongOptionIndex === optionIndex
      }"
      [disabled]="correctOptionIndex !== null || wrongOptionIndex !== null"
    >
      <span
        class="option__letter"
        [ngClass]="{
          selected__letter: selectedOptionIndex === optionIndex,
          correct__letter:
            correctOptionIndex === optionIndex ||
            wrongOptionIndex === optionIndex,
          wrong__letter: wrongOptionIndex === optionIndex
        }"
      >
        {{ getOptionLetter(optionIndex) }}
      </span>

      <span class="option__text">{{ option }}</span>

      <img
        *ngIf="correctOptionIndex === optionIndex"
        src="./assets/checkmark.svg"
        alt="Correct Answer"
      />

      <img
        *ngIf="wrongOptionIndex === optionIndex"
        src="./assets/crossmark.svg"
        alt="Wrong Answer"
      />
    </button>

    <button class="submit__btn" (click)="handleSubmitOrShowResults()">
      {{
        isLastQuestion
          ? "See Scores"
          : selectedOption
          ? "Next Question"
          : "Submit Answer"
      }}
    </button>

    <div *ngIf="showErrorMessage" class="error__message">
      <img src="./assets/crossmark.svg" alt="Error" />
      Please select an answer
    </div>
  </article>
</section>

<section class="message__container" *ngIf="!subject">
  <app-welcome-text></app-welcome-text>
  <app-subject-list></app-subject-list>
</section>

<!-- Results Section -->
<section *ngIf="showResult">
  <app-results
    [selectedSubject]="subject"
    [score]="userScore"
    [outOfTotal]="questions.length"
  ></app-results>
</section>
