<section *ngIf="subject && !showResult">
  <article class="quiz__container">
    <!-- Display current question index -->
    <p>Question: {{ currentIndex + 1 }} of {{ questions.length }}</p>

    <!-- Question -->
    <h2>{{ questions[currentIndex]?.question }}</h2>

    <!-- Progress Bar -->
    <div class="progress__bar">
      <div
        class="progress-bar__fill"
        [style.width]="((currentIndex + 1) / questions.length) * 100 + '%'"
      ></div>
    </div>
  </article>

  <!-- Answer Options Container -->
  <article class="answer__options">
    <button
      *ngFor="
        let option of questions[currentIndex]?.options;
        let optionIndex = index
      "
      [class.selected]="selectedOptionIndex === optionIndex"
      (click)="
        checkAnswer(option, questions[currentIndex]?.answer, optionIndex)
      "
      [class.correct]="correctOptionIndex === optionIndex"
      [class.wrong]="wrongOptionIndex === optionIndex"
      [disabled]="correctOptionIndex !== null || wrongOptionIndex !== null"
    >
      <span
        class="option__letter"
        [class.selected-letter]="selectedOptionIndex === optionIndex"
        [class.correct-letter]="
          correctOptionIndex === optionIndex || wrongOptionIndex === optionIndex
        "
        [class.wrong-letter]="wrongOptionIndex === optionIndex"
      >
        {{ getOptionLetter(optionIndex) }}</span
      >
      <span class="option__text"> {{ option }}</span>
      <img
        *ngIf="correctOptionIndex === optionIndex"
        src="./assets/checkmark.svg"
        alt=""
      />
      <img
        *ngIf="wrongOptionIndex === optionIndex"
        src="./assets/crossmark.svg"
        alt=""
      />
    </button>
    <!-- Submit Button -->
    <button class="submit__btn" (click)="handleSubmitOrShowResults()">
      {{
        isLastQuestion
          ? "See Scores"
          : selectedOption
          ? "Next Question"
          : "Submit Answer"
      }}
    </button>
    <div *ngIf="showErrorMessage" class="error__message">
      <img src="./assets/crossmark.svg" alt="crossmark" />
      Please select an answer
    </div>
  </article>
</section>

<div class="message__container" *ngIf="!subject">
  <app-welcome-text></app-welcome-text>
  <app-subject-list></app-subject-list>
</div>

<section>
  <app-results
    [score]="userScore"
    [outOfTotal]="questions.length"
  ></app-results>
</section>
