@import "../../../styles/variables";

section {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 4rem;

  .quiz__container {
    width: 30rem;
    p {
      color: $color-dark-secondary;
      font-style: italic;
      margin-bottom: 2rem;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 5rem;
    }

    .progress__bar {
      width: 100%;
      height: 0.5rem;
      background-color: rgb(230, 230, 230);
      border-radius: 2rem;
      position: relative;
      padding: 0.2rem 0;

      .progress-bar__fill {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        background-color: $primary-color;
        border-radius: 2rem;
        transition: width 0.3s ease-in-out;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1;
      }
    }
  }

  .answer__options {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 1rem;

    button {
      cursor: pointer;
      display: flex;
      align-items: center;
      width: 30rem;
      padding: 1rem;
      outline: 2px solid $primary-color;
      gap: 2.5rem;
      border-radius: 8px;
      box-shadow: 0 2px 20px 5px rgba(196, 196, 196, 0.329);
      border: none;

      .option-letter {
        background-color: rgb(207, 207, 207);
        color: $color-light;
        font-weight: bold;
        padding: 0.3rem 0.6rem;
        border-radius: 4px;

        &:hover {
          background-color: lighten($primary-color, 10%);
          color: red;
        }
      }
    }
  }
}

.message__container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
}
