<ng-container *ngIf="!isDone">
  <div id="form-wrapper">
    <h1>{{ getHeadings(currentStep).title }}</h1>
    <p>{{ getHeadings(currentStep).description }}</p>
    <!-- Form -->
    <form
      id="form-container"
      [formGroup]="formFields"
      (ngSubmit)="submitForm()"
      [class.slide-in]="isForward"
      [class.slide-out]="!isForward"
    >
      <!-- form input -->
      <ng-container *ngIf="currentStep === 1">
        <div class="form-group">
          <label for="name">
            <span>Name</span>
            <ng-container>
              <small
                class="error-message"
                *ngIf="
                  formFields.get('name')?.hasError('required') &&
                  formFields.get('name')?.touched
                "
                >This field is required</small
              >
              <small
                class="error-message"
                *ngIf="formFields.get('name')?.hasError('pattern')"
                >Name must contain only letters</small
              >
            </ng-container>
          </label>
          <input
            type="text"
            id="name"
            class="form-input"
            placeholder="e.g Stephen King"
            formControlName="name"
            [ngStyle]="{
              borderColor:
                formFields.get('name')?.hasError('required') &&
                formFields.get('name')?.touched
                  ? 'var(--error)'
                  : ''
            }"
          />
        </div>
        <div class="form-group">
          <label for="email">
            <span>Email</span>
            <ng-container>
              <small
                class="error-message"
                *ngIf="
                  formFields.get('email')?.hasError('required') &&
                  formFields.get('email')?.touched
                "
                >This field is required</small
              >
              <small
                class="error-message"
                *ngIf="formFields.get('email')?.hasError('email')"
                >Please enter a valid email address</small
              >
            </ng-container>
          </label>
          <input
            type="email"
            id="email"
            class="form-input"
            placeholder="e.g stephenking@lorem.com"
            formControlName="email"
            [ngStyle]="{
            borderColor: formFields.get('email')?.hasError('required') && formFields.get('email')?.touched ? 'var(--error)': '', 
          }"
          />
        </div>
        <div class="form-group">
          <label for="phone-number">
            <span>Phone Number</span>
            <ng-container>
              <small
                class="error-message"
                *ngIf="
                  formFields.get('phone')?.hasError('required') &&
                  formFields.get('phone')?.touched
                "
                >This field is required</small
              >
              <small
                class="error-message"
                *ngIf="formFields.get('phone')?.hasError('pattern')"
              >
                Phone number must start with '+' and 10-14 digits
              </small>
            </ng-container>
          </label>
          <input
            type="text"
            id="phone-number"
            class="form-input"
            placeholder="e.g +1 234 567 890"
            formControlName="phone"
            [ngStyle]="{
              borderColor:
                formFields.get('phone')?.hasError('required') &&
                formFields.get('phone')?.touched
                  ? 'var(--error)'
                  : ''
            }"
          />
        </div>
      </ng-container>

      <ng-container *ngIf="currentStep === 2">
        <div
          class="form-group"
          [class.slide-in]="isForward"
          [class.slide-out]="!isForward"
        >
          <div class="card-container">
            <div
              class="card"
              *ngFor="let plan of plans"
              (click)="selectPlan(plan)"
              [ngClass]="{
                'addon-selected':
                  plan.type === formFields.get('plan.type')?.value
              }"
            >
              <img [src]="plan.icon" [alt]="plan.type" />
              <div class="card-texts">
                <h3>{{ plan.type | capitalize }}</h3>
                <p>{{ !isYearly ? plan.price : plan.yearly.price }}</p>
                <p [ngStyle]="{ color: 'var(--denim)' }" *ngIf="isYearly">
                  {{ plan.yearly.extras }}
                </p>
              </div>
            </div>
          </div>
          <!-- banner with switch and labels for monthly and yearly -->
          <div class="banner">
            <span class="switch-container">
              <small class="monthly-plan" [ngClass]="{ active: !isYearly }"
                >Monthly</small
              >
              <input
                type="checkbox"
                id="toggle-switch"
                class="switch-checkbox"
                [checked]="isYearly"
                (change)="togglePlan($event)"
                id="toggle-switch"
              />
              <label for="toggle-switch" class="switch-label">
                <span class="switch-inner"></span>
                <span class="switch-slider"></span>
              </label>
              <small class="yearly-plan" [ngClass]="{ active: isYearly }"
                >Yearly</small
              >
            </span>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="currentStep === 3">
        <div
          class="form-group"
          [class.slide-in]="isForward"
          [class.slide-out]="!isForward"
        >
          <div class="addon-container">
            <div
              class="addon-card"
              *ngFor="let addon of addons"
              [ngClass]="{ selected: isAddonSelected(addon) }"
            >
              <label [for]="addon.title">
                <input
                  [id]="addon.title"
                  type="checkbox"
                  [value]="addon.type"
                  [checked]="isAddonSelected(addon)"
                  class="addon-checkbox"
                  (change)="selectAddon(addon)"
                />
                <div class="addon-content">
                  <div class="addon-text">
                    <h3>{{ addon.title }}</h3>
                    <p>{{ addon.description }}</p>
                  </div>
                  <span class="addon-price"
                    >+{{ !isYearly ? addon.price : addon.yearly.price }}/{{
                      !isYearly ? "mo" : "yr"
                    }}</span
                  >
                </div>
              </label>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="currentStep === 4">
        <div
          class="form-group"
          [class.slide-in]="isForward"
          [class.slide-out]="!isForward"
        >
          <div class="summary-card">
            <div class="plan-details">
              <div class="plan-header">
                <h3>
                  {{ summaryData.plan?.type || "no data yet" | capitalize }}
                  ({{ isYearly ? "Yearly" : "Monthly" }})
                </h3>
                <p><a href="#" class="change-link">Change</a></p>
              </div>
              <p class="plan-price">
                {{ summaryData.plan?.price }}
              </p>
            </div>
            <hr />
            <ul class="summary-addons">
              <li
                class="summary-addon"
                *ngFor="let addon of summaryData.addons"
              >
                <span>{{ addon.title }}</span>
                <span>+{{ addon.price }}/{{ isYearly ? "yr" : "mo" }}</span>
              </li>
            </ul>
          </div>
          <div class="total">
            <span>Total ({{ isYearly ? "per year" : "per month" }})</span>
            <span class="total-price">{{ calculateTotalPrice }}</span>
          </div>
        </div>
      </ng-container>
      <!-- form buttons container -->
      <div id="form-buttons">
        <button
          type="button"
          class="back-btn"
          (click)="gotoPreviousStep()"
          *ngIf="currentStep > 1"
        >
          Go back
        </button>

        <button
          [type]="currentStep === 4 ? 'submit' : 'button'"
          class="submit-btn"
          [ngStyle]="{
            'background-color':
              currentStep !== 4 ? ' var(--denim)' : 'var(--purple)'
          }"
          (click)="gotoNextStep()"
          [disabled]="formFields.invalid"
        >
          {{ currentStep === 4 ? "Confirm" : "Next Step" }}
        </button>
      </div>
    </form>
  </div>
</ng-container>
<ng-container *ngIf="isDone">
  <app-thank-you></app-thank-you>
</ng-container>
