#form-wrapper {
  color: var(--denim);

  h1 {
    font-size: var(--font-Heading);
    line-height: var(--line-height);
  }

  p {
    color: var(--grey);
    margin-top: 0.5rem;
    font-weight: var(--font-weight-regular);
  }

  #form-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1.2rem;
    padding-right: 2.5rem;

    .form-group {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      label {
        font-size: var(--font-medium);
        color: var(--denim);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .error-message {
          color: var(--error);
          font-weight: var(--font-weight-bold);
          margin-left: 0.5rem;
        }
      }

      .form-input {
        padding: 0.9rem;
        border-radius: var(--input-radius);
        border: 1px solid var(--grey);
        background-color: var(--white);
        width: 100%;
        box-sizing: border-box;
        font-family: var(--font-family);
        font-size: var(--font-Large);
        font-weight: var(--font-weight-bold);
        color: var(--denim);

        &:focus {
          outline: none;
          border-color: var(--blue);
        }

        &::placeholder {
          color: var(--grey);
          font-weight: var(--font-weight-medium);
        }
      }
    }

    #form-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        border: none;
        background-color: transparent;
      }

      .back-btn {
        color: var(--grey);
        font-weight: var(--font-weight-bold);
        cursor: pointer;
        border-radius: var(--input-radius);
        margin-right: 1rem;
        transition: color 0.3s ease-in-out;

        &:hover {
          color: var(--denim);
        }
      }

      .submit-btn {
        padding: 0.8rem 2rem;
        background-color: var(--denim);
        color: var(--white);
        font-weight: var(--font-weight-bold);
        cursor: pointer;
        border-radius: var(--input-radius);
      }
    }

    .card-container {
      width: 30rem;
      margin-bottom: 1rem;
      display: flex;

      gap: 1rem;

      .card {
        width: 10rem;
        height: 12rem;
        background-color: var(--white);
        outline: 1px solid var(--border-color);
        border-radius: var(--input-radius);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.5rem;
        transition: outline 0.4s ease-in-out;
        cursor: pointer;

        &:hover {
          outline: 1px solid var(--purple);
        }

        img {
          width: 3rem;
        }

        h3 {
          font-size: var(--font-medium);
        }
      }
    }

    .banner {
      background-color: var(--very-light-grey);
      font-weight: var(--font-weight-bold);
      padding: 1rem;
      margin-bottom: 0.45rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .switch-container {
        display: flex;
        align-items: center;
        gap: 1rem;

        .switch-checkbox {
          display: none;
        }

        .switch-label {
          position: relative;
          display: inline-block;
          width: 50px;
          height: 25px;
          background-color: var(--white);
          border-radius: 30px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          .switch-inner {
            position: absolute;
            top: 5px;
            left: 4px;
            width: 15px;
            height: 15px;
            background-color: var(--white);
            border-radius: 50%;
            transition: transform 0.3s ease;
            transform: translateX(0);
            z-index: 10;
          }

          .switch-slider {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--denim);
            border-radius: 30px;
            transition: background-color 0.3s ease;
          }
        }
        .switch-checkbox:checked + .switch-label .switch-inner {
          transform: translateX(25px);
        }
      }
    }
  }
}

.monthly-plan {
  color: var(--denim);
}

.yearly-plan {
  color: var(--grey);
  transition: color 0.3s ease;
}

/* When checkbox is checked, change the colors of the labels */
.switch-checkbox:checked ~ .switch-label ~ .monthly-plan {
  color: var(--grey); /* Gray out the "Monthly" label */
}

.switch-checkbox:checked ~ .switch-label ~ .yearly-plan {
  color: var(--denim);
}

.switch-checkbox:not(:checked) ~ .switch-label ~ .monthly-plan {
  color: var(--grey); /* Make "Monthly" label blue */
}

.switch-checkbox:not(:checked) ~ .switch-label ~ .yearly-plan {
  color: var(--grey); /* Make "Yearly" label gray */
}
