#header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;

  img {
    width: 30px;
  }

  #header-items__container {
    display: flex;
    align-items: center;
    justify-content: center;

    .seperator {
      width: 1px;
      height: 30px;
      margin-right: 1rem;
      background-color: $border-color;
    }
  }
}
