<ng-container *ngIf="summary">
  <div class="summary-card">
    <div class="plan-details">
      <div class="plan-header">
        <h3>
          {{ summary && summary.plan?.type | capitalize }}
          ({{ isYearly ? "Yearly" : "Monthly" }})
        </h3>
        <p (click)="goToStepTwo()" class="change-link">Change</p>
      </div>
      <p class="plan-price">
        {{ summary && summary.plan?.price }}
      </p>
    </div>
    <hr />
    <ul class="summary-addons">
      <li class="summary-addon" *ngFor="let addon of summary?.addons">
        <span>{{ addon.title }}</span>
        <span>+{{ addon.price }}/{{ isYearly ? "yr" : "mo" }}</span>
      </li>
    </ul>
  </div>
  <div class="total">
    <span>Total ({{ isYearly ? "per year" : "per month" }})</span>
    <span class="total-price">{{ totalPrice }}</span>
  </div>
</ng-container>

<ng-container *ngIf="!summary">
  <div class="empty-container">
    <img src="assets/images/empty-state.png" alt="Empty state" />
    <p>No summary available yet.</p>
  </div>
</ng-container>
