.summary-card {
  background-color: var(--very-light-grey);
  border-radius: var(--input-radius);
  padding: 1.5rem 1rem 0.5rem;
  font-family: "Inter", sans-serif;

  .plan-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .plan-header {
      h3 {
        font-size: var(--font-medium);
        color: var(--denim);
        margin: 0;
      }

      .change-link {
        font-size: var(--font-small);
        color: var(--grey);
        text-decoration: underline;
        cursor: pointer;
        transition: color 0.4s ease-in-out;
        &:hover {
          color: var(--purple);
        }
      }
    }

    .plan-price {
      font-size: var(--font-medium);
      font-weight: var(--font-weight-bold) !important;
      color: var(--denim) !important;
    }
  }

  hr {
    border: none;
    border-top: 1px solid var(--border-color);
    margin: 1rem 0;
  }

  .summary-addons {
    list-style: none;
    margin-bottom: 1rem;

    .summary-addon {
      display: flex;
      justify-content: space-between;
      font-size: var(--font-small);
      color: var(--grey);
      margin-bottom: 1rem;

      span:last-child {
        color: var(--denim);
      }
    }
  }
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-medium);
  padding: 1rem;

  span {
    color: var(--grey);
  }

  .total-price {
    font-weight: var(--font-weight-bold);
    font-size: 20px;
    color: var(--purple);
  }
}
