:root {
  /* Colors */
  --primary-color: #7c5dfa;
  --primary-color-light: #9277ff;
  --secondary-color: #1e2139;
  --secondary-color-light: #252945;
  --grey: #dfe3fa;
  --slightly-grey: #888eb0;
  --tertiary-color: ##7e88c3;
  --base-black: #0c0e16;
  --sidebar-bg-color: #373b53;
  --error-color: #ec5757;
  --error-color-light: #ff9797;
  --divider-color: #494e6e;

  /* Theming */
  --light-bg-color: #f8f8fb;
  --dark-bg-color: #141625;

  /* Border */
  --sidebar-radius: 0 20px 20px 0;
  --sidebar-inner-radius: 20px 0 20px 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
