.subject__list {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 1rem;

  .subject__card {
    display: flex;
    align-items: center;
    width: 30rem;
    padding: 0.5rem 1rem;
    gap: 2.5rem;
    border-radius: 8px;
    background-color: card-dark-bg;
    box-shadow: 0 2px 20px 5px rgba(196, 196, 196, 0.11);
    color: #313e51;

    &:hover {
      color: #313e51;
    }

    .icon {
      width: 3rem;
    }

    .text {
      font-weight: 600;
    }
  }
}
