@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
.results__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem 0;
}
.results__container .results__header h2 {
  font-size: 3rem;
  font-weight: 300;
}
.results__container .results__header p {
  font-size: 2.5rem;
  font-weight: bold;
}
.results__container .results__board__containers {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}
.results__container .results__board__containers button {
  padding: 0.7rem 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #a729f5;
  color: #f9f9f9;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
  width: 100%;
}
.results__container .results__board__containers button:hover {
  background-color: #c76eff;
}
.results__container .results__board__containers .results__board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: #f9f9f9;
  width: 30rem;
  max-width: 360px;
  border-radius: 15px;
  box-shadow: 0 16px 40px 0px rgba(143, 160, 193, 0.1725490196);
  padding: 2rem 4rem;
}
.results__container .results__board__containers .results__board .results__board__subject {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.results__container .results__board__containers .results__board .results__score {
  font-size: 6rem !important;
  font-weight: bold;
  color: #313e51;
}
.results__container .results__board__containers .results__board .results__board__total {
  font-size: 2.5rem;
  font-weight: bold;
}
.results__container .results__board__containers .results__board p {
  font-size: 1.2rem;
  color: #626c7f;
}

@media (max-width: 991px) {
  .results__container {
    flex-direction: column;
  }
  .results__container .results__header h2 {
    font-size: 2rem;
    font-weight: 300;
  }
  .results__container .results__header p {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
@media (max-width: 767px) {
  .results__container {
    gap: 1rem;
    padding: 1rem;
  }
  .results__container .results__header {
    margin-top: 2rem;
  }
  .results__container .results__header h2 {
    font-size: 2.5rem;
    font-weight: 300;
  }
  .results__container .results__header p {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .results__container .results__board__containers {
    width: 100%;
  }
  .results__container .results__board {
    width: 100%;
    max-width: none;
    padding: 1rem 2rem;
  }
}
@media (max-width: 576px) {
  .results__container {
    padding: 0.5rem;
  }
  .results__container .results__header h2 {
    font-size: 2rem;
  }
  .results__container .results__header p {
    font-size: 1.2rem;
  }
  .results__container .results__board__containers {
    gap: 1rem;
  }
  .results__container .results__board {
    padding: 1rem;
  }
}/*# sourceMappingURL=results.component.css.map */