.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 4rem;

  .header-headline {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .header-actions {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: flex-end;

    .header-filter {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      font-size: var(--small-text-2);
    }
  }
}
