<header class="header-container">
  <div class="header-headline">
    <app-headline
      [label]="'Invoices'"
      [level]="1"
      color="var(--heading-text)"
    ></app-headline>
    <app-headline
      [label]="invoiceLabel"
      [level]="6"
      color="var(--heading-subtext)"
    ></app-headline>
  </div>
  <div class="header-actions">
    <!-- Filter by custom select -->
    <app-filter></app-filter>
    <app-button
      variant="primary"
      [icon]="buttonIcon"
      label="New Invoice"
      (clicked)="newInvoice()"
      >Create Invoice</app-button
    >
  </div>
</header>
