.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 2rem;

  .header-headline {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .header-actions {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: flex-end;
  }
}
