@import url("../fonts/JetBrainsMono-Italic-VariableFont_wght.ttf");
@import url("../fonts/JetBrainsMono-Italic-VariableFont_wght.ttf");

$fonts: "JetBrains Mono", monospace;
$primary-color: #a4ffaf;
$bg-color: #18171f;
$card-bg-color: #24232c;
$medium-bar-color: #f8cd65;
$too-weak-bar-color: #f64a4a;
$weak-bar-color: #fb7c58;
$text: #e6e5ea;
$text-sm: 18px;
$text-md: 24px;
$muted-text: #817d92;
