button {
  border-radius: 30px;
  padding-block: 0.7rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  font-size: 1.2rem;
  height: 3.7rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  gap: 2rem;
  transition: all 0.2s ease-in-out;
  font-weight: 700;
}

.primary {
  background-color: var(--primary-color);
  color: var(--white);
  width: 13rem;

  &:hover {
    background-color: var(--primary-hover);
  }

  &:disabled {
    background-color: var(--primary-color);
    cursor: not-allowed;
    opacity: 0.5;
  }

  .button-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;

    .button-icon {
      height: 1rem;
      width: 1rem;
    }
  }
}

.secondary {
  background-color: var(--secondary-color);
  color: var(--btn-secondary-text);
  width: 6rem;

  .button-label {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
  }

  &:hover {
    background-color: var(--secondary-hover);
  }
}

.destructive {
  background-color: var(--bg-danger);
  color: #fff;
  width: 7rem;

  .button-label {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
  }

  &:hover {
    background-color: var(--bg-danger-hover);
  }
}

.tertiary {
  background-color: var(--grey);
  color: var(--tertiary-color);
  width: 7rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center !important;

  .button-label {
    margin-left: 0.5rem;
  }
}

.ghost {
  background-color: transparent;
  color: var(--text-base);

  .button-label {
    margin-left: -1rem;
    font-size: var(--heading-medium);
  }

  &:hover {
    color: var(--back-button-hover);
  }
}
