.app-container {
  background-color: var(--bg-primary);
  transition: background-color 0.3s ease-in-out;
  width: 100dvw;
  min-height: 100dvh;
  display: flex;
  align-items: start;
}

.content-container {
  width: 60dvw;
  margin: 0 auto;
  padding: 3rem 0;
}
