@import "../../../styles/variables";

.hero__text {
  color: $color-dark;
  font-weight: normal;

  h1 {
    font-size: 3.5rem;
    line-height: 1.1;
    margin-bottom: 1rem;
    font-weight: 400;
    width: 25rem;

    span {
      font-weight: 500;
    }
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 2rem;
    font-style: italic;
    color: $color-dark-secondary;
  }
}

/* Tablet Screens (768px and below) */
@media (max-width: 768px) {
  .hero__text {
margin-top: 2rem;
    h1 {
      font-size: 2.5rem;
      width: 100%;
      margin-bottom: 0.8rem;
    }

    p {
      font-size: 0.9rem;
      margin-top: 1.5rem;
    }
  }
}

@media (max-width: 576px) {
  .hero__text {
    padding: 0 1rem;

    h1 {
      font-size: 2rem;
      margin-bottom: 0.7rem;
    }

    p {
      font-size: 0.85rem;
      margin-top: 1rem;
    }
  }
}
