@import url("./assets/fonts/inconsolata/static/Inconsolata-Regular.ttf");
@import url("../assets/fonts/inter/Inter-VariableFont_slnt_wght.ttf");
@import url("../assets/fonts/lora/Lora-Italic-VariableFont_wght.ttf");
@import url("../assets/fonts/lora/Lora-VariableFont_wght.ttf");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 800px;
  margin: 6rem auto;
  font-family: "Inter", sans-serif;
  padding: 0 2rem;
  background-color: #ffffff;
}

.border-line {
  width: 100%;
  height: 1px;
  background-color: #e9e9e9;
}

#header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  /* Container for the theme toggler */
}
#header__container img {
  width: 30px;
}
#header__container #header-items__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#header__container #header-items__container .seperator {
  width: 1px;
  height: 30px;
  margin-right: 1rem;
  background-color: #e9e9e9;
}
#header__container .dropdown {
  position: relative;
  width: 150px;
}
#header__container .dropdown__selected {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
#header__container .dropdown__icon {
  color: #a445ed;
}
#header__container .dropdown__icon img {
  width: 12px;
  height: 12px;
}
#header__container .dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: 10px 2px 10px rgba(0, 0, 0, 0.09);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  margin-top: 5px;
  border-radius: 10px;
  z-index: 1;
}
#header__container .dropdown__option {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #2d2d2d;
}
#header__container .dropdown__option:hover {
  color: #a445ed;
}
#header__container .dropdown.active .dropdown__menu {
  display: flex;
}
#header__container .theme-toggler {
  display: flex;
  align-items: center;
  gap: 10px;
}
#header__container #toggle__menu {
  display: none;
}
#header__container .toggle__menu__icon {
  position: relative;
  width: 40px;
  height: 20px;
  padding: 0.5rem;
  background-color: #757575;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#header__container .toggle__menu__icon .slider {
  position: absolute;
  top: 3px;
  left: 2px;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
#header__container #toggle__menu:checked + .toggle__menu__icon {
  background-color: #a445ed;
}
#header__container #toggle__menu:checked + .toggle__menu__icon .slider {
  transform: translateX(20px);
}
#header__container .moon-icon {
  width: 20px;
  height: 20px;
  opacity: 0.7;
}
#header__container #toggle__menu:checked ~ .moon-icon {
  filter: invert(5003%) sepia(1000%) saturate(450%) hue-rotate(222deg) brightness(100%);
}

#search__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 2rem 0;
  position: relative;
}

#search__icon {
  position: absolute;
  right: 1rem;
}

#search-bar__input {
  padding: 1rem 0.9rem;
  width: 100%;
  background-color: #f4f4f4;
  font-size: 18px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  transition: color 0.3s ease;
  color: #2d2d2d;
  border-radius: 16px;
  border: none;
}

#search-bar__input::-moz-placeholder {
  color: #757575;
  font-weight: 5600;
  opacity: 0.6;
}

#search-bar__input::placeholder {
  color: #757575;
  font-weight: 5600;
  opacity: 0.6;
}

#search-bar__input:focus {
  outline: 1px solid #a445ed;
}

#searched-word__container {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
#searched-word__container h1 {
  font-size: 64px;
  font-weight: 800;
  color: #2d2d2d;
}
#searched-word__container p {
  font-size: 24px;
  margin-top: 0.5rem;
  color: #a445ed;
}
#searched-word__container button {
  background-color: transparent;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}
#searched-word__container button .play-icon {
  width: 7.9vh;
  height: 7.9vh;
  border-radius: 50%;
  fill: #a445ed;
}
#searched-word__container button .play-icon circle:hover {
  opacity: 1;
}
#searched-word__container button .play-icon:hover {
  cursor: pointer;
  fill: #2d2d2d;
}
#searched-word__container button .play-icon:hover path {
  fill: #ffffff;
}
#searched-word__container button .play-icon:hover circle {
  opacity: 1;
}

#searched-word__category {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
#searched-word__category h2 {
  font-size: 18px;
  font-weight: 600;
  color: #2d2d2d;
  text-transform: lowercase;
  font-style: italic;
}

#meanings__container {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#meanings__container h3 {
  font-size: 18px;
  font-weight: 400;
  color: #757575;
  margin: 2rem 0 1rem 0;
  text-transform: capitalize;
}
#meanings__container #meanings__list {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  color: #2d2d2d;
  gap: 1rem;
}
#meanings__container #meanings__list li::marker {
  color: #8f19e8;
}
#meanings__container #meanings__list p {
  font-size: 18px;
  color: #757575;
  margin-top: 0.5rem;
}

#synonyms__container {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
#synonyms__container h3 {
  font-size: 18px;
  font-weight: 400;
  color: #757575;
  text-transform: capitalize;
}
#synonyms__container ul {
  display: flex;
  color: #a445ed;
  font-weight: 600;
  list-style-type: none;
  gap: 0.5rem;
}
#synonyms__container ul li {
  text-decoration: underline;
}

#footer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
  color: #757575;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#footer #source {
  color: #757575;
  text-transform: capitalize;
  text-decoration: underline;
}
#footer #link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
#footer #link a {
  color: #2d2d2d;
  transition: color 0.3s ease;
}

body.dark-theme {
  background-color: #050505;
  color: #ffffff;
}
body.dark-theme .border-line {
  background-color: #3a3a3a;
}
body.dark-theme #searched__word {
  color: #fff;
}
body.dark-theme #search-bar__input {
  background-color: #1f1f1f;
  color: #fff;
}
body.dark-theme #search-bar__input::-moz-placeholder {
  color: #fff;
}
body.dark-theme #search-bar__input::placeholder,
body.dark-theme .meaning-list__item {
  color: #fff;
}
body.dark-theme #searched-word__category h2 {
  color: #fff;
}
body.dark-theme #footer > #link > a {
  color: #fff;
}
body.dark-theme #value {
  color: #fff;
}
body.dark-theme #header__container .dropdown.active .dropdown__menu {
  background-color: #1f1f1f;
  color: #fff;
  border-radius: 16px;
  border: none;
  box-shadow: 0px 2px 20px rgb(164, 69, 237);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: background-color 0.3s ease;
}
body.dark-theme #header__container .dropdown.active .dropdown__menu .dropdown__option {
  color: #fff;
}
body.dark-theme #header__container .dropdown.active .dropdown__menu .dropdown__option:hover {
  color: #a445ed;
}/*# sourceMappingURL=style.css.map */